[submodule "boards/MON"]
	path = boards/MON
	url = https://pin_k@bitbucket.org/dinowolf/mon.git
[submodule "private/middleware"]
	path = private/middleware
	url = https://pin_k@bitbucket.org/dinowolf/middleware.git
